In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

f:\anaconda\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
f:\anaconda\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
f:\anaconda\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
df = pd.read_excel("1-s2.0-S2352340919312466-mmc1.xlsx",skiprows=0)
df.head()

,Unnamed: 0,Supplementary Table: Table S1: Raw data of peak intensities at each peak position generated from RS and SERS from all TB-infection categories.,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 1002,Unnamed: 1003,Unnamed: 1004,Unnamed: 1005,Unnamed: 1006,Unnamed: 1007,Unnamed: 1008,Unnamed: 1009,Unnamed: 1010,Unnamed: 1011
0,RS 532 nm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sample names,groups,179.568359,181.511719,183.453125,185.394531,187.335938,189.275391,191.214844,193.154297,...,1912.980469,1914.531250,1916.080078,1917.630859,1919.181641,1920.730469,1922.279297,1923.828125,1925.376953,1926.925781
2,HC4002,HC,0.058043,0.047805,0.031439,0.052827,0.039863,0.049907,0.044148,0.049463,...,0.016795,0.094428,0.068626,0.053191,0.077396,0.090592,0.026675,0.055424,0.034247,0.015763
3,NaN,HC,0.107335,0.093342,0.103085,0.091719,0.071561,0.104192,0.096174,0.081817,...,0.071877,0.139841,0.138047,0.151965,0.156756,0.187254,0.082185,0.122532,0.059179,0.025202
4,NaN,HC,0.053816,0.052437,0.042871,0.064361,0.031299,0.045848,0.041101,0.056550,...,0.026521,0.046298,0.045233,0.056291,0.060221,0.067202,0.032233,0.025676,0.005984,0.058483

In [3]:
df.iloc[1,2:]

Unnamed: 2        179.568359
Unnamed: 3        181.511719
Unnamed: 4        183.453125
Unnamed: 5        185.394531
Unnamed: 6        187.335938
                    ...
Unnamed: 1007    1920.730469
Unnamed: 1008    1922.279297
Unnamed: 1009    1923.828125
Unnamed: 1010    1925.376953
Unnamed: 1011    1926.925781
Name: 1, Length: 1010, dtype: object

In [4]:
X, y = df.iloc[2:1842, 2:], df.iloc[2:1842, 1]

In [5]:
target=y.values.tolist()
label_encoder = LabelEncoder()
y_classification = label_encoder.fit_transform(target)

In [6]:
y_classification.shape

(1840,)

In [7]:
X_array = np.array(X)
X_array.shape

(1840, 1010)

In [8]:
np.save("x.npy", X_array)
np.save("y.npy", y_classification)